services:
  api:
    build: .
    volumes:
      - ./:/app
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "5001", "--reload"]
    ports:
    - "5001:5001"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16
    env_file:
      - .env
    ports:
    - "5432:5432"
    volumes:
      - postgres_data_webapp:/var/lib/postgresql/data
    
  web:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    depends_on:
      - api

volumes:
  postgres_data_webapp: